@import "../../../../variables.scss";
.account_container {
  .register_welcome {
    font-size: 2.5rem;
    color: $white-smoke;
  }
  .login {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-top: 0.8rem;
  }
}
